body {
  background-color: lightgoldenrodyellow;
  text-align: center;
}
.wrapper {
    padding: 5px 20px;
}
/* The container */
.container {
  display: block;
  position: absolute;
  padding-right: 45px;
  cursor: pointer;
  font-size: 25px;
   left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
 
  border-radius: 50%;
}
/* On mouse-over */
.container:hover input ~ .checkmark {
  background-color:gray;
  pointer-events:fill;
}


.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator  */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator  */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
button{
  width: 10%;
  background-color:honeydew;
  color: black;
  padding: 10px 16px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: monospace;

} 
button:hover {
  background-color:gray;
  pointer-events:fill;
}
